/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/*-------------------------------------------Main Code ---------------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

header
{
    height: 120px;
    width: 1364px;
    background-color: black;
}
footer
{
    height: 250px;
    width: 1364px;
    background-color:black;
}
.logo{
    float: left;
    padding-left: 20px;
}
.logo img{
    padding-left: 20px;
    
}


section{
    width: 1364px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('2.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper{
    width: 750px;
    background: rgba(255, 255, 255, .1);
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(255, 255, 255, .2);
    backdrop-filter: blur(50px);
    border-radius: 10px;
    color: #fff;
    padding: 40px 35px 55px;
    margin: 0 10px;
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

.wrapper .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: transparent;
}

.input-box .input-field{
    position: relative;
    width: 48%;
    height: 50px;
    background: transparent;
    margin: 13px 0;
}

.input-box .input-field input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    outline: none;
    color: #fff;
    border-radius: 6px;
    padding: 15px 15px 15px 40px;
}

.input-box .input-field input::placeholder{
    color: #fff;
}

.wrapper label {
    display: inline-block;
    font-size: 14.5px;
    margin: 10px 0 23px;
}

.wrapper label input {
    accent-color: #fff;
    margin-right: 5px;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
@media (max-width: 576px) {
    .input-box .input-field{
        width: 100%;
        margin: 10px 0;
    }
}

.footer {
    background-color: #1a1a1a;
    padding: 50px 0;
    color: white;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-box {
    width: 23%;
}

.footer-box h3 {
    color: white;
    margin-bottom: 15px;
    font-size: 18px;
}

.footer-box ul {
    list-style-type: none;
}

.footer-box ul li {
    margin-bottom: 10px;
    font-size: 14px;
}

.footer-box ul li a {
    text-decoration: none;
    color: #ccc;
    transition: color 0.3s;
}

.footer-box ul li a:hover {
    color: #ff6600;
}

.company-logo {
    width: 100px;
    margin-bottom: 10px;
}

.footer-box p {
    margin-bottom: 20px;
    color: #999;
}

.social-icons a {
    margin-right: 10px;
    color: white;
    font-size: 16px;
    text-decoration: none;
}

.social-icons a:hover {
    color: #ff6600;
}
